@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* main color #323647 */
/* light color #F4F5FB */
/* dark color #222C30  */

/* other color #ff9000, #6f7681 */

/* Custom css */
body {
  margin: 0;
  padding: 0;
  /* background-color: #222C30 !important; */
  color: #F4F5FB !important;
}

p {
  font-family: 'Roboto Mono', monospace !important;
}

.ant-drawer {
  z-index: 1050 !important;
}

.ant-drawer .ant-drawer-header {
  background-color: #222C30 !important;
  color: #F4F5FB !important;
}

.navbar {
  background-color: #323647;
}

.navbar .navbar-brand {
  font-size: 32px !important;
  font-weight: bold;
  color: #F4F5FB;
}

.ant-tabs-nav-wrap {
  /* background-color: #ff9000 !important; */
  border-right: #6f7681 solid 1px;
}

.ant-tabs-tab-btn {
  color: #ff9000 !important;
}

.ant-tabs-ink-bar {
  border-right: #ff9000 solid 3.5px !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #222C30;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbcac9;
  /* border-radius: 10px; */
}

/* General css */
.section {
  padding: 170px 10px;
  background-color: #222C30 !important;
}

.mr-10 {
  margin-right: 10px;
}

.btn {
  border: none !important;
  border-radius: 0 !important;
  padding: 10px 20px !important;
  text-decoration: none !important;
  font-size: 16px !important;
}

.btn-primary {
  background-color: transparent !important;
  border: solid #ff9000 2px !important;
  color: #ff9000 !important;
}

.btn-primary:hover {
  background-color: #ff9000 !important;
  color: #F4F5FB !important;
}

.btn-secondary {
  background-color: #ff9000 !important;
  color: #F4F5FB !important;
  border: solid #ff9000 2px !important;
}

.btn-secondary:hover {
  background-color: transparent !important;
  border: solid #ff9000 2px !important;
  color: #ff9000 !important;
}

/* Added css */
.drawer {
  background-color: #222C30 !important;
}

.btn-icon {
  font-size: 25px;
  color: #F4F5FB;
}

.banner {
  padding: 100px 0px;
  background-color: #323647;
}

.banner .short-intro {
  padding-top: 75px;
  padding-bottom: 25px;
}

.banner .short-intro small {
  color: #ff9000;
  font-size: 18px;
  margin-left: 20px;
  /* text-transform: uppercase; */
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Roboto Mono', monospace;
}

.banner .short-intro h1 {
  color: #F4F5FB;
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  line-height: 1.1;
}

.banner .short-intro h6 {
  color: #6f7681;
  font-size: clamp(25px, 6vw, 50px);
  line-height: 1.1;
  max-width: 600px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.banner .short-intro p {
  color: #6f7681;
  font-size: clamp(14px, 5vw, 16px);
  margin: 10px 0 0;
  max-width: 400px;
  font-family: 'Roboto Mono', monospace;
}

.header-title {
  align-items: baseline;
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}

.header-title .header-no {
  color: #F4F5FB;
  font-family: PrimaryBold;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
}

.header-title .header-text {
  color: #F4F5FB;
  font-family: PrimaryBold;
  font-size: clamp(24px, 8vw, 5px);
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
}

.header-title .header-line {
  align-self: center;
  background-color: #ff9000;
  display: block;
  flex: 1 1;
  height: 2px;
  max-width: 150px
}

.hero {
  height: 250px;
  width: 250px;
  margin: auto;
  background-color: #F4F5FB;
}

.hero .hero-img {
  height: 250px;
  width: 250px;
  /* mix-blend-mode: multiply; */
}

.hero-pattern {
  margin-top: -270px;
  margin-left: 170px !important;
  height: 250px;
  width: 250px;
  border: dashed #ff9000 2px;
  /* border-top: dashed #ff9000 2px; */
  /* border-left: dashed #ff9000 2px; */
}

.job-experience {
  color: #F4F5FB;
  margin-bottom: 25px;
}

.job-experience h5 {
  margin: 0;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.job-experience small {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #6f7681;
}

.job-experience .achivements {
  margin-top: 15px;
  max-width: 70%;
}

.job-experience .achivements p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.pcard {
  color: #F4F5FB;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 50px;
}

.pcard .pcard-content {
  padding: 30px 20px;
}

.pcard .pcard-content .pcard-title {
  font-weight: bold;
  font-size: clamp(24px, 8vw, 5px);
  margin-bottom: 10px;
  margin-left: 20px;
  border-left: solid #ff9000 5px;
  padding-left: 10px;
}

.pcard .pcard-content .pcard-body {
  background-color: #323647;
  padding: 25px;
  border-radius: 10px;
  font-size: 14px;
}

.pcard .pcard-content .pcard-stack {
  margin-top: 10px;
}

.pcard .pcard-content .pcard-stack span {
  background-color: #6f7681;
  margin: 0 5px 5px 0;
  padding: 2.5px 5px;
  font-size: 12px;
}

.pcard .pcard-content .pcard-exten {
  margin-top: 10px;
  /* background-color: #ff9000; */
  padding: 0 10px;
}

.pcard .pcard-content .pcard-exten a {
  color: #6f7681;
}

.pcard .pcard-content .pcard-exten a:hover {
  color: #ff9000;
}

.pcard .pcard-content .pcard-exten a .pcard-icon {
  font-size: 26px;
  margin-right: 5px;
}

.pcard .pcard-cover {
  background-color: blue;
  height: 350px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  mix-blend-mode: luminosity;
  box-shadow: 1px 1px 20px black;
  /* background-image: linear-gradient(to bottom, #323647 #222C30); */
}

.pcard .pcard-cover:hover {
  mix-blend-mode: normal;
}

.footer {
  background-color: #222C30;
  text-align: center;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin-right: 10px;
  font-size: 42px;
}

.footer ul li a {
  color: #323647;
}

.footer ul li a:hover {
  color: #F4F5FB;
}